<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/website.css">
    <title>About</title>
  </head>
  <body>
    <div id="title">About Our Team</div>
    <div id=box>
      <div id="links"><a href="/sammy">Sammy's About Page</a></div>
      <div id="links"><a href="/abby">Abby's About Page</a></div>
      <div id="links"><a href="/aidan">Aidan's About Page</a></div>
      <div id="links"><a href="/jason">Jason's About Page</a></div>
    </div>
  </body>
</html>
