<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="website.css">
    <title>About</title>
  </head>
  <body>
    <div id="title">About Our Team</div>
    <div id=box>
      <div id="links"><a href="Sammy">Sammy's About Page</a></div>
      <div id="links"><a href="Abby">Abby's About Page</a></div>
      <div id="links"><a href="Aidan">Aidan's About Page</a></div>
      <div id="links"><a href="Jason">Jason's About Page</a></div>
    </div>
  </body>
</html>
