<!DOCTYPE html>
<html lang="en" dir="ltr">
</style>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/website.css">
    <title></title>
  </head>
  <body>
    <%- body %>
  </body>
</html>
